/* 
@keyframes fadeInLogin {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.login-container {
    animation: fadeInLogin 1s ease-in;
} */
