@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0f9ff;
  --foreground: #f0f9ff;
  --gray: rgb(163, 162, 162); 
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f0f9ff;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeInLogin {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.login-container {
  animation: fadeInLogin 1s ease-in;
}
